// Colors
$primary: #0f1014;
$secondary: #697386;

$c-blue-dark: #1a1f36;
$c-blue-primary: #3c4257;
$c-blue-light: #8792a2;
$c-blue-light-69: #697386;
$c-blue-light-disabled: #a3acb9;
$c-blue-active: #5469d4;
$c-blue-e3: #e3e8ee;
$c-error: #cd3d64;

$bg-blue-light: #f7fafc;

$btn-blue-active: #5469d4;

$bo-blue-light: #e3e4e6;
$bo-blue-d9: #d9dde1;
$bo-blue-light-light: #f7f7f7;

$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
