button,
.swal2-styled.swal2-confirm {
  background: none;
  border: 0;
  padding: 5px 10px;
  color: $c-blue-primary;
  box-shadow: none;
  transition: all 0.2s;
  &:hover,
  &:focus {
    outline: none;
    background: none !important;
    box-shadow: 0 0px 8px -4px rgb(0, 0, 0);
  }
}
.btn,
.swal2-styled.swal2-confirm {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  min-height: 36px;
  transition: all 0.2s;
  border: 1px solid $c-blue-primary;
  font-family: 'Cutive';
  margin-top: 10px;
  transition: all 0.2s;
  svg {
    margin-right: 5px;
  }
  &.btn-fill {
    min-height: 36px;
    background: $c-blue-primary;
    color: #fff;
    &:hover,
    &:focus {
      background: darken($color: $c-blue-primary, $amount: 100) !important;
    }
  }
  &.btn-warning {
    border-color: $c-error;
    background: #fff;
    color: $c-error;
  }
}
