.form-group {
  label {
    display: block;
  }
  input,
  textarea {
    width: 100%;
    border: 1px solid #d9dde1;
  }
  textarea {
    min-height: 80px;
    padding: 7px;
    border-radius: 5px;
    &:focus {
      outline: none;
    }
  }
}
