// .MuiTable-root {
//   .MuiSvgIcon-root {
//     font-size: 16px;
//   }
//   .MuiIconButton-root {
//     padding: 5px 10px;
//   }
// }
.table__custom {
  margin-top: 20px;
  tr.deleted,
  tr.inactive {
    opacity: 0.4;
  }
  td {
    font-weight: 500;
    color: $c-blue-dark;
    border-bottom: 1px solid #e3e8ee !important;
    vertical-align: inherit;
    &.filtered {
      color: $c-blue-active;
    }
  }
  .table-head {
    text-transform: uppercase;
    font-size: 11px;
  }
  .table-body {
    td {
      font-size: 14px;
    }
    tr:hover {
      td {
        background: #f7fafc;
      }
    }
    button {
      margin-top: 0;
      height: 30px;
      line-height: 24px;
    }
  }
}
